<div id="textos">
	
	<div id="lista-congregacoes">
		<div class="item-congregacoes">
			<div class="foto"><%= image_tag "congregacoes.jpg" %></div>
			<div class="info">
				<div class="nome">Congregação Sede: 1ª IPI do Natal</div>
				<div class="endereco">Rua João Pessoa - 259 - Centro, Natal / RN - 59025-500</div>
				<div class="email"><%= mail_to "sede@ipinatal.com.br" %></div>
				<div class="telefone">(84) 3232-3232 / 3232-3232</div>
			</div>
		</div>
		
		<div class="item-congregacoes">
			<div class="foto"><%= image_tag "congregacoes.jpg" %></div>
			<div class="info">
				<div class="nome">Congregação: Cidade Nova</div>
				<div class="endereco">Rua João Pessoa - 259 - Centro, Natal / RN - 59025-500</div>
				<div class="email"><%= mail_to "cidadenova@ipinatal.com.br" %></div>
				<div class="telefone">(84) 3232-3232 / 3232-3232</div>
				<div class="dirigentes">Dirigente: Missionária Cláudia Lúcia Veras Feitosa</div>
				<div class="assistente">Assistente: Missionário Jaime de Mello Júnior</div>
				<div class="presbitero">Présbitero Responsável: Aluísio Bezerra de Oliveira</div>
			</div>
		</div>
		
		<div class="item-congregacoes">
			<div class="foto"><%= image_tag "congregacoes.jpg" %></div>
			<div class="info">
				<div class="nome">Congregação: Riachão (Ceará Mirim)</div>
				<div class="endereco">Rua João Pessoa - 259 - Centro, Natal / RN - 59025-500</div>
				<div class="email"><%= mail_to "riachao@ipinatal.com.br" %></div>
				<div class="telefone">(84) 3232-3232 / 3232-3232</div>
				<div class="dirigentes">Dirigente: Preb. Sérgio Mágno Souza F. da Silva</div>
				<div class="assistente">Assistente: Pr. Edvaldo Canindé da Silva</div>
			</div>
		</div>
		
		<div class="item-congregacoes">
			<div class="foto"><%= image_tag "congregacoes.jpg" %></div>
			<div class="info">
				<div class="nome">Congregação: Vera Cruz</div>
				<div class="endereco">Rua João Pessoa - 259 - Centro, Natal / RN - 59025-500</div>
				<div class="email"><%= mail_to "veracruz@ipinatal.com.br" %></div>
				<div class="telefone">(84) 3232-3232 / 3232-3232</div>
				<div class="dirigentes">Dirigente: Missionário Gleydson Roberto Soares</div>
				<div class="presbitero">Présbitero Responsável: Francisco Leandro Duarte Pinheiro</div>
			</div>
		</div>
			
	</div>

</div>