<div id="textos">
	
	<div id="lista-conselho">
	<div class="item-conselho">
		<div class="foto"><%= image_tag "avatar.jpg" %></div>
		<div class="info">
			<div class="nome">Rev. Kebler Nobre de Queiroz</div>
			<div class="funcao">Presidente</div>
			<div class="email"><%= mail_to "kebler@ipinatal.com.br" %></div>
			<div class="telefone">(84) 3232-3232 / 3232-3232</div>
		</div>
	</div>
	
	<div class="item-conselho">
		<div class="foto"><%= image_tag "avatar.jpg" %></div>
		<div class="info">
			<div class="nome">Presb. Aluísio Bezerra</div>
			<div class="funcao">Vice-Presidente</div>
			<div class="email"><%= mail_to "aluisiobezerra@ipinatal.com.br" %></div>
			<div class="telefone">(84) 3232-3232 / 3232-3232</div>
		</div>
	</div>
	
	<div class="item-conselho">
		<div class="foto"><%= image_tag "avatar.jpg" %></div>
		<div class="info">
			<div class="nome">Presb. Franciso Leandro</div>
			<div class="funcao">Secretário</div>
			<div class="email"><%= mail_to "franciscoleandro@ipinatal.com.br" %></div>
			<div class="telefone">(84) 3232-3232 / 3232-3232</div>
		</div>
	</div>
	
	<div class="item-conselho">
		<div class="foto"><%= image_tag "avatar.jpg" %></div>
		<div class="info">
			<div class="nome">Presb. Andréa Bezerra</div>
			<div class="email"><%= mail_to "andreabezerra@ipinatal.com.br" %></div>
			<div class="telefone">(84) 3232-3232 / 3232-3232</div>
		</div>
	</div>
	
	<div class="item-conselho">
		<div class="foto"><%= image_tag "avatar.jpg" %></div>
		<div class="info">
			<div class="nome">Presb. Márcio Barros</div>
			<div class="email"><%= mail_to "marciobarros@ipinatal.com.br" %></div>
			<div class="telefone">(84) 3232-3232 / 3232-3232</div>
		</div>
	</div>
	
	<div class="item-conselho">
		<div class="foto"><%= image_tag "avatar.jpg" %></div>
		<div class="info">
			<div class="nome">Presb. Sérgio Magno</div>
			<div class="email"><%= mail_to "sergiomagno@ipinatal.com.br" %></div>
			<div class="telefone">(84) 3232-3232 / 3232-3232</div>
		</div>
	</div>
	
	<div class="item-conselho">
		<div class="foto"><%= image_tag "avatar.jpg" %></div>
		<div class="info">
			<div class="nome">Presb. Ulisses Paiva</div>
			<div class="email"><%= mail_to "ulissespaiva@ipinatal.com.br" %></div>
			<div class="telefone">(84) 3232-3232 / 3232-3232</div>
		</div>
	</div>
	
</div>

</div>