<div id="textos">
	
	<div id="lista-ministerios">
		
		<div class="item-ministerios">
			<div class="info">
				<div class="nome">Ministério de Famílias - <span class="email"><%= mail_to "ministeriofamilia@ipinatal.com.br" %></span></div>
				<div class="integrantes"><strong> Integrantes:</strong> Sérgio Magno Souza Fernandes da Silva e Lilian Christiani Rabelo de Albuquerque Fernandes </div>
				<div class="objetivo"><strong>Objetivo:</strong> Donec convallis congue porttitor. Suspendisse porttitor tellus at sem tristique bibendum. Cras quis diam velit, nec adipiscing libero. Nunc gravida molestie suscipit. Quisque eu elementum odio. Ut dolor risus, pretium et euismod rutrum, convallis at nisi. Nunc interdum odio sit amet odio mollis ut rutrum lectus sodales. Nulla condimentum purus interdum lacus porttitor venenatis sed et est. Donec vulputate lacus non sem cursus iaculis. In vitae semper felis</div>
			</div>
		</div>
		
		<div class="item-ministerios">
			<div class="info">
				<div class="nome">Ministério de Homens - <span class="email"><%= mail_to "ministeriohomens@ipinatal.com.br" %></span></div>
				<div class="integrantes"><strong> Integrante:</strong> Jardel de Oliveira Justino </div>
				<div class="objetivo"><strong>Objetivo:</strong> Donec convallis congue porttitor. Suspendisse porttitor tellus at sem tristique bibendum. Cras quis diam velit, nec adipiscing libero. Nunc gravida molestie suscipit. Quisque eu elementum odio. Ut dolor risus, pretium et euismod rutrum, convallis at nisi. Nunc interdum odio sit amet odio mollis ut rutrum lectus sodales. Nulla condimentum purus interdum lacus porttitor venenatis sed et est. Donec vulputate lacus non sem cursus iaculis. In vitae semper felis</div>
			</div>
		</div>
		
		<div class="item-ministerios">
			<div class="info">
				<div class="nome">Ministério de Mulheres - <span class="email"><%= mail_to "ministeriomulheres@ipinatal.com.br" %></span></div>
				<div class="integrantes"><strong> Integrante:</strong> Aliete Bezerra de Oliveira </div>
				<div class="objetivo"><strong>Objetivo:</strong> Donec convallis congue porttitor. Suspendisse porttitor tellus at sem tristique bibendum. Cras quis diam velit, nec adipiscing libero. Nunc gravida molestie suscipit. Quisque eu elementum odio. Ut dolor risus, pretium et euismod rutrum, convallis at nisi. Nunc interdum odio sit amet odio mollis ut rutrum lectus sodales. Nulla condimentum purus interdum lacus porttitor venenatis sed et est. Donec vulputate lacus non sem cursus iaculis. In vitae semper felis</div>
			</div>
		</div>
		
		<div class="item-ministerios">
			<div class="info">
				<div class="nome">Ministério de Jovens - <span class="email"><%= mail_to "ministeriojovens@ipinatal.com.br" %></span></div>
				<div class="integrantes"><strong> Integrante:</strong> Rev. Kleber Nobre de Queiroz </div>
				<div class="objetivo"><strong>Objetivo:</strong> Donec convallis congue porttitor. Suspendisse porttitor tellus at sem tristique bibendum. Cras quis diam velit, nec adipiscing libero. Nunc gravida molestie suscipit. Quisque eu elementum odio. Ut dolor risus, pretium et euismod rutrum, convallis at nisi. Nunc interdum odio sit amet odio mollis ut rutrum lectus sodales. Nulla condimentum purus interdum lacus porttitor venenatis sed et est. Donec vulputate lacus non sem cursus iaculis. In vitae semper felis</div>
			</div>
		</div>
		
		<div class="item-ministerios">
			<div class="info">
				<div class="nome">Ministério de Adolescentes - <span class="email"><%= mail_to "ministerioadolescentes@ipinatal.com.br" %></span></div>
				<div class="integrantes"><strong> Integrante:</strong> Ulisses Nascimento de Paiva </div>
				<div class="objetivo"><strong>Objetivo:</strong> Donec convallis congue porttitor. Suspendisse porttitor tellus at sem tristique bibendum. Cras quis diam velit, nec adipiscing libero. Nunc gravida molestie suscipit. Quisque eu elementum odio. Ut dolor risus, pretium et euismod rutrum, convallis at nisi. Nunc interdum odio sit amet odio mollis ut rutrum lectus sodales. Nulla condimentum purus interdum lacus porttitor venenatis sed et est. Donec vulputate lacus non sem cursus iaculis. In vitae semper felis</div>
			</div>
		</div>
		
		<div class="item-ministerios">
			<div class="info">
				<div class="nome">Ministério de Educação Infantil - <span class="email"><%= mail_to "ministerioinfantil@ipinatal.com.br" %></span></div>
				<div class="integrantes"><strong> Integrante:</strong> Andréa Paula Bezerra </div>
				<div class="objetivo"><strong>Objetivo:</strong> Donec convallis congue porttitor. Suspendisse porttitor tellus at sem tristique bibendum. Cras quis diam velit, nec adipiscing libero. Nunc gravida molestie suscipit. Quisque eu elementum odio. Ut dolor risus, pretium et euismod rutrum, convallis at nisi. Nunc interdum odio sit amet odio mollis ut rutrum lectus sodales. Nulla condimentum purus interdum lacus porttitor venenatis sed et est. Donec vulputate lacus non sem cursus iaculis. In vitae semper felis</div>
			</div>
		</div>
		
		<div class="item-ministerios">
			<div class="info">
				<div class="nome">Ministério de Educação Cristã - <span class="email"><%= mail_to "ministeriocrista@ipinatal.com.br" %></span></div>
				<div class="integrantes"><strong> Integrante:</strong> Altaíde Bandeira Damasceno Azevedo </div>
				<div class="objetivo"><strong>Objetivo:</strong> Donec convallis congue porttitor. Suspendisse porttitor tellus at sem tristique bibendum. Cras quis diam velit, nec adipiscing libero. Nunc gravida molestie suscipit. Quisque eu elementum odio. Ut dolor risus, pretium et euismod rutrum, convallis at nisi. Nunc interdum odio sit amet odio mollis ut rutrum lectus sodales. Nulla condimentum purus interdum lacus porttitor venenatis sed et est. Donec vulputate lacus non sem cursus iaculis. In vitae semper felis</div>
			</div>
		</div>
		
		<div class="item-ministerios">
			<div class="info">
				<div class="nome">Ministério de Louvor - <span class="email"><%= mail_to "ministeriolouvor@ipinatal.com.br" %></span></div>
				<div class="integrantes"><strong> Integrante:</strong> Rev. Kleber Nobre de Queiroz </div>
				<div class="objetivo"><strong>Objetivo:</strong> Donec convallis congue porttitor. Suspendisse porttitor tellus at sem tristique bibendum. Cras quis diam velit, nec adipiscing libero. Nunc gravida molestie suscipit. Quisque eu elementum odio. Ut dolor risus, pretium et euismod rutrum, convallis at nisi. Nunc interdum odio sit amet odio mollis ut rutrum lectus sodales. Nulla condimentum purus interdum lacus porttitor venenatis sed et est. Donec vulputate lacus non sem cursus iaculis. In vitae semper felis</div>
			</div>
		</div>
		
		<div class="item-ministerios">
			<div class="info">
				<div class="nome">Ministério de Comunicação - <span class="email"><%= mail_to "ministeriocomunicacao@ipinatal.com.br" %></span></div>
				<div class="integrantes"><strong> Integrantes:</strong> Marcos Antonio Barros da Silva, Allyson Bruno Campos Barros Vilela e  Frankllin Roosevelt Machado Filho </div>
				<div class="objetivo"><strong>Objetivo:</strong> Donec convallis congue porttitor. Suspendisse porttitor tellus at sem tristique bibendum. Cras quis diam velit, nec adipiscing libero. Nunc gravida molestie suscipit. Quisque eu elementum odio. Ut dolor risus, pretium et euismod rutrum, convallis at nisi. Nunc interdum odio sit amet odio mollis ut rutrum lectus sodales. Nulla condimentum purus interdum lacus porttitor venenatis sed et est. Donec vulputate lacus non sem cursus iaculis. In vitae semper felis</div>
			</div>
		</div>
		
		<div class="item-ministerios">
			<div class="info">
				<div class="nome">Secretaria de Evangelização - <span class="email"><%= mail_to "secretariaevangelizacao@ipinatal.com.br" %></span></div>
				<div class="integrantes"><strong> Integrante:</strong> Themis Lessa Machado de Mello </div>
				<div class="objetivo"><strong>Objetivo:</strong> Donec convallis congue porttitor. Suspendisse porttitor tellus at sem tristique bibendum. Cras quis diam velit, nec adipiscing libero. Nunc gravida molestie suscipit. Quisque eu elementum odio. Ut dolor risus, pretium et euismod rutrum, convallis at nisi. Nunc interdum odio sit amet odio mollis ut rutrum lectus sodales. Nulla condimentum purus interdum lacus porttitor venenatis sed et est. Donec vulputate lacus non sem cursus iaculis. In vitae semper felis</div>
			</div>
		</div>
			
	</div>

</div>