<div id="textos">
		
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi nunc arcu, suscipit nec sodales ornare, imperdiet et enim. Fusce euismod, arcu non elementum mattis, nisi urna euismod mauris, vitae aliquet risus purus ut lorem. Aliquam erat volutpat. Aliquam erat volutpat. Donec tempor sodales erat, sit amet facilisis neque gravida vel. Praesent id ipsum et augue dignissim varius quis ac libero. Suspendisse quis erat vel turpis fringilla commodo et sed lorem. Donec placerat tristique nisl dictum ullamcorper. Cras sodales ornare convallis. Morbi libero neque, viverra eget viverra at, consequat eu orci. Nam porttitor molestie lorem sit amet laoreet. Nulla facilisi. Maecenas sagittis commodo magna, sit amet aliquam augue iaculis eu.</p>

<p>Donec convallis congue porttitor. Suspendisse porttitor tellus at sem tristique bibendum. Cras quis diam velit, nec adipiscing libero. Nunc gravida molestie suscipit. Quisque eu elementum odio. Ut dolor risus, pretium et euismod rutrum, convallis at nisi. Nunc interdum odio sit amet odio mollis ut rutrum lectus sodales. Nulla condimentum purus interdum lacus porttitor venenatis sed et est. Donec vulputate lacus non sem cursus iaculis. In vitae semper felis.</p>
		
	<h2> Nossos Missionários </h2>

<div id="lista-missionarios">
		<div class="item-missionarios">
			<div class="foto"><%= image_tag "avatar.jpg" %></div>
			<div class="info">
				<div class="nome">Cláudia Lúcia Veras Feitosa</div>
				<div class="email"><%= mail_to "claudialucia@ipinatal.com.br" %></div>
				<div class="area-atuacao">Congregação de Cidade Nova </div>
				<div class="historico">Donec convallis congue porttitor. Suspendisse porttitor tellus at sem tristique bibendum. Cras quis diam velit, nec adipiscing libero. Nunc gravida molestie suscipit. Quisque eu elementum odio.</div>
			</div>
		</div>
		
		<div class="item-missionarios">
			<div class="foto"><%= image_tag "avatar.jpg" %></div>
			<div class="info">
				<div class="nome">Edivaldo Canindé da Silva</div>
				<div class="email"><%= mail_to "edivaldocandinde@ipinatal.com.br" %></div>
				<div class="area-atuacao">Congregação de Riachão (Ceará-Mirim) </div>
				<div class="historico">Donec convallis congue porttitor. Suspendisse porttitor tellus at sem tristique bibendum. Cras quis diam velit, nec adipiscing libero. Nunc gravida molestie suscipit. Quisque eu elementum odio.</div>
			</div>
		</div>
		
		<div class="item-missionarios">
			<div class="foto"><%= image_tag "avatar.jpg" %></div>
			<div class="info">
				<div class="nome">Francica Alves</div>
				<div class="email"><%= mail_to "franciscaalves@ipinatal.com.br" %></div>
				<div class="area-atuacao"> 1ª IPI do Natal </div>
				<div class="historico">Donec convallis congue porttitor. Suspendisse porttitor tellus at sem tristique bibendum. Cras quis diam velit, nec adipiscing libero. Nunc gravida molestie suscipit. Quisque eu elementum odio.</div>
			</div>
		</div>
		
		<div class="item-missionarios">
			<div class="foto"><%= image_tag "avatar.jpg" %></div>
			<div class="info">
				<div class="nome">Gleidson Roberto Soares</div>
				<div class="email"><%= mail_to "gleidsonroberto@ipinatal.com.br" %></div>
				<div class="area-atuacao"> Congregação de Vera Cruz </div>
				<div class="historico">Donec convallis congue porttitor. Suspendisse porttitor tellus at sem tristique bibendum. Cras quis diam velit, nec adipiscing libero. Nunc gravida molestie suscipit. Quisque eu elementum odio.</div>
			</div>
		</div>
		
		<div class="item-missionarios">
			<div class="foto"><%= image_tag "avatar.jpg" %></div>
			<div class="info">
				<div class="nome">Jaime de Mello Júnior</div>
				<div class="email"><%= mail_to "jaimemello@ipinatal.com.br" %></div>
				<div class="area-atuacao"> Congregação de Cidade Nova </div>
				<div class="historico">Donec convallis congue porttitor. Suspendisse porttitor tellus at sem tristique bibendum. Cras quis diam velit, nec adipiscing libero. Nunc gravida molestie suscipit. Quisque eu elementum odio.</div>
			</div>
		</div>
		
		<div class="item-missionarios">
			<div class="foto"><%= image_tag "avatar.jpg" %></div>
			<div class="info">
				<div class="nome">Sérgio Mágno S. Fernandes da Silva</div>
				<div class="email"><%= mail_to "sergiomagno@ipinatal.com.br" %></div>
				<div class="area-atuacao"> Congregação de Riachão (Ceará-Mirim) </div>
				<div class="historico">Donec convallis congue porttitor. Suspendisse porttitor tellus at sem tristique bibendum. Cras quis diam velit, nec adipiscing libero. Nunc gravida molestie suscipit. Quisque eu elementum odio.</div>
			</div>
		</div>
			
	</div>
	
	</div>